mixin article(img, alt, title, date, author, href="article.html")
    article.article 
        .article__image
            img(src="@img/" + img, alt=alt)
        .article__content
            a(href=href).article__link 
                h2.article__title.title #{title}
            .article__text 
                block paragraph
            .article__info 
                span.article__date #{date}
                span.article__author #{author}