mixin article(img, alt, title, date, author, href, previewText)
    article.article 
        a(href=href).article__image
            img(src="@img/" + img, alt=alt)
        .article__content
            a(href=href).article__link 
                h2.article__title.title #{title}
            .article__text 
                p #{previewText}
            .article__info 
                span.article__date #{date}
                span.article__author #{author}