mixin toggle-block(title, inputs)
    .toggle-block 
        h5.toggle-block__title.filter-title #{title}
        .toggle-block__body 
            .toggle-block__inputs
                each item in inputs
                    label.toggle-block__label
                        input(type="number", id=item.id, min=item.min, max=item.max, placeholder=item.placeholder).toggle-block__input
            .toggle-block__range
