section.moto-news 
    .moto-news__container.container 
        h2.moto-news__title.title Новости и статьи
        ul.moto-news__list
            each item in jsonCards.articles 
                li.moto-news__item 
                    article.news-card 
                        a(href=item.href).news-card__img 
                            img(src="img/" + item.image, alt=item.alt)
                        .news-card__information 
                            a(href=item.href).news-card__title-link 
                                h3.card-title #{item.title}
                            .news-card__preview
                                p #{item.previewText}
                        .news-card__info 
                            time(datetime=item.datetime).news-card__date #{item.date}
                            a(href=item.href).news-card__link Подробнее
        .moto-news__btn 
            +link("btn", "articles.html", "Все новости")